
header {
    padding: 24px 0;
    background: #181818;
}
header .container{
    max-width: 1200px;
    margin: auto;
    padding-right: 34px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul {
    display: flex;
    align-items: center;
}
header nav ul li {
    margin-left: 32px;
}
header nav ul li:first-of-type{
    margin-right: 24px;
}
header nav li a{
    font: 15px/20px 'Poppins', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
}
header nav ul li:first-of-type a{
    font-size: 12px;
}
header nav ul li:last-of-type a {
    font: 16px/20px 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: 0.4px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 11px 20px;
    text-decoration: none;
}
.main_banner{
    height: calc(100vh - 82px);
    background-image: url("../images/IMAGE.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 71px;
    box-sizing: border-box;
    position: relative;
}
.main_banner .container{
    max-width: 580px;
    text-align: center;
}
.main_banner h3{
    font: 14px/20px 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}
.main_banner h1{
    font: 54px/59px 'Poppins', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 18px;
}
.main_banner p{
    font: 14px/20px 'Poppins', sans-serif;
    font-weight: 400;
    color: #C0C0C0;
}
.help_banner {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    background: #000000;
    text-align: center;
    padding-top: 113px;
    padding-bottom: 108px;

}
.help_banner .container {
    max-width: 571px;
    margin: auto;
}
.help_h2 {
    font: 40px/42px 'Poppins', sans-serif;
    font-weight: 400;
    /* or 105% */
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 16px;

}
.help_h3 {
    font: 24px/30px 'Poppins', sans-serif;
    /* identical to box height, or 125% */
    color: #C0C0C0;
    margin-bottom: 22px;
}
.get_in_touch {
    font: 16px/20px 'Poppins', sans-serif;
    /* identical to box height, or 125% */
    letter-spacing: 0.4px;
    color: #000000;
    padding: 5px 10px 5px 5px;
    text-decoration: none;
    background: #FFFFFF;
    border-radius: 14px;
    display: inline-flex;
    align-items: center;
}
.get_in_touch:before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: black;
    border-radius:44%;
    margin-right: 6px;
}
.poster {
    background-image: url("../images/mount.png");
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}
.poster article {
    width: 298px;
    margin-right: 62px;
}
.poster h4{
    font: 14px/20px 'Poppins', sans-serif;
    font-weight: 400;
    /* identical to box height, or 143% */
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.poster p {
    font: 14px/20px 'Poppins', sans-serif;
    font-weight: 400;
    /* or 143% */
    color: #C0C0C0;
}
.post {
    background-image: url("../images/mount2.png");
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
}
.post article {
    width: 254px;
    margin-right: 106px;
}
.post h4 {
    font: 14px/20px 'Poppins', sans-serif;
    font-weight: 400;
    /* identical to box height, or 143% */
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.post p {
    font: 14px/20px 'Poppins', sans-serif;
    font-weight: 400;
    /* or 143% */
    color: #C0C0C0;
}
.monstera {
    background-image: url("../images/flora.jpg");
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}
.monstera article {
    width: 273px;
    margin-right: 87px;
}
.monstera h4 {
    font: 14px/20px 'Poppins', sans-serif;
    font-weight: 400;
    /* identical to box height, or 143% */
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;

}
.monstera p {
    font: 14px/20px 'Poppins', sans-serif;
    font-weight: 400;
    /* or 143% */
    color: #C0C0C0;
}
.post {
    background-image: url("../images/mount2.png");
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}
.post article {
    width: 254px;
    margin-right: 119px;
}
.post h4 {
    font: 14px/20px 'Poppins', sans-serif;
    font-weight: 400;
    /* identical to box height, or 143% */
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.post p {
    font: 14px/20px 'Poppins', sans-serif;
    /* or 143% */
    color: #C0C0C0;

}
.widget_bright_bottom  {
    position: absolute;
    right: 40px;
    bottom: 41px;
    display: flex;
}
.widget_bright_bottom li{
    margin-left: 16px;
    font: 12px/12px 'Poppins', sans-serif;
    font-weight: 400;
    /* identical to box height, or 100% */
    color: #FFFFFF;

}
.widget_bright_bottom li:before{
    content: "";
    display: inline-block;
    background-image: url("../images/Combined-Shape.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    bottom: -5px;
}
.widget_bright_bottom li:nth-child(2):before{
    background-image: url("../images/Combined-Shape1.svg");
}
.widget_bright_bottom li:nth-child(3):before{
    background-image: url("../images/Combined-Shape2.svg");
    width: 32px;
    margin-right: 7px;
}
.widget_bright_bottom li:nth-child(4):before{
    background-image: url("../images/Fill-1.svg");
    width: 10px;
    margin-right: 5px;
}
.what_we_do{
    background-color: #000000;
    padding: 113px 0 84px;
}
.what_we_do .container{
    max-width: 1168px;
    margin: auto;
}
.what_we_do .d-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.what_we_do article{
    max-width: 576px;
    margin-bottom: 16px;
    position: relative;
}
.what_we_do article img{
    display: block;
    width: 100%;
}
.what_we_do article .description{
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
}
.what_we_do article h5{
    font: 14px/20px 'Poppins', sans-serif;
    font-weight: 400;
    /* or 143% */
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.what_we_do article p {
    font: 14px/20px 'Poppins', sans-serif;
    font-weight: 400;
    /* or 143% */
    color: #C0C0C0;
    margin-bottom: 15px;
}
.what_we_do h2 {
    font: 40px/42px 'Poppins', sans-serif;
    font-weight: 400;
    /* identical to box height, or 105% */
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.what_we_do h4 {
    font: 23px/30px 'Poppins', sans-serif;
    font-weight: 400;
    /* identical to box height, or 130% */
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 42px;
}
.past_clients {
    background: #000000;
    padding: 113px 182px 140px;
}
.past_clients .wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.past_clients h2 {
    font: 40px/42px 'Poppins', sans-serif;
    font-weight: 400;
    /* identical to box height, or 105% */
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.past_clients h3{
    font: 24px/30px 'Poppins', sans-serif;
    font-weight: 400;
    /* identical to box height, or 125% */
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 82px;
}
.past_clients .wrap a{
    max-width: 128px;
    display: inline-block;
}
.past_clients .owl-item {
    text-align: center;
}
.past_clients .owl-stage {
    display: flex;
    align-items: center;
}
.past_clients .owl-nav .owl-prev{
    background-image: url("https://tpanda1983.github.io/california/images/chevron.svg")!important;
    width: 14px;
    height: 26px;
    position: absolute;
    left: -20px;
    top: 30px;
    background-color: #FFFFFF!important;
}
.past_clients .owl-nav .owl-next{
    background-color: green!important;
    width: 20px;
    height: 20px;
    position: absolute;
    right: -20px;
    top: 30px;
}
footer {
    padding: 100px 0 0;
    background-color: black;

}

footer .container {
    max-width: 1168px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 36px;
}

footer .container:nth-of-type(2) {
    border-top: solid 2px white;
    border-bottom: solid 2px white;
    padding: 36px 0;
    margin-bottom: 36px;
}

footer .container:nth-of-type(2) .ft_right {
    width: 100%;
    max-width: 458px;
}

footer .logo {
    margin-bottom: 20px;
}

footer .ft_left p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;
}

footer .ft_right {
    display: flex;

}

footer .ft_right ul {
    list-style: none;
}

footer .ft_right ul:first-of-type {
    margin-right: 55px;

}

footer .ft_right li {
    margin-bottom: 10px;
    font-family: 'poppinsregular', sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}

footer .ft_right li a {
    text-decoration: none;
    font-family: 'poppinsregular', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-transform: capitalize;
}

footer .ft_left h3 {
    font-family: 'poppinsregular', sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #FFFFFF;
}

footer .ft_left h4 {
    font-family: 'poppinsregular', sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;
}

footer .ft_right form {
    background: #F9FAFB;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    padding: 11px 6px;
    width: 100%;
}

footer .ft_right form input {
    width: 75%;
    display: inline-block;
    border: none;
    background-color: transparent;


}

footer .ft_right form button {
    border: none;
    background: #000000;
    border-radius: 11px;
    height: 30px;
    width: 63px;

}

footer .ft_icon {
    margin-left: 20px;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active, .ui-widget-content{
    background-color: transparent;
    border: none;

}
.ui-accordion .ui-accordion-content{
    padding: 0;
}
.ui-accordion .ui-accordion-header{
    max-width: 1168px;
    margin: auto;
    text-align: center;
}
.ui-icon{
    display: none;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{
    color: black;
    display: none;
}

.logo {
    position: relative;
    z-index: 99;
}

.accordion-title {
    font-size: 30px !important;
    color: white;
}

.accordion-title {
    text-align: left;
    position: relative;
}

.accordion-title span {
    display: block;
    text-align: left;
    padding-left: 50px;
}

.accordion-title .button-down {
    position: absolute;
    content: "";
    z-index: 11;
    display: block;
    width: 12px;
    height: 12px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(135deg);
    left: 0;
    top: 11px;
}

h3.ui-accordion-header-active .button-down {
    transform: rotate(225deg);
    left: 8px;
}